@import '~bootstrap/scss/bootstrap';

// need to add style to increase the size of the game board table, this is a UX need.
// need to create visible boarders on the table between the <td> tags, also UX need

.game-box {
  width: 150px;
  height: 150px;
  text-align: center;
}

#game-board {
  background-color: rgb(207, 207, 206);
  margin: 0 auto;
  border: 2.5px;
  border-style: solid;
  border-color: black;
}

#box-1 {
  border-left: 2.5px solid black;
  border-right: 2.5px solid black;
  border-bottom: 2.5px solid black;
}

#box-3 {
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
  border-right: 2.5px solid black;
}

#box-5 {
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
  border-left: 2.5px solid black;
}

#box-7 {
  border-left: 2.5px solid black;
  border-right: 2.5px solid black;
  border-top: 2.5px solid black;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.game-intro {
  text-align: center;
}

.how-to {
  text-align: center;
}

#message-1 {
  text-align: center;
}
